In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
responsavel02 = pd.read_excel("Responsavel02_PE_M.xlsx")

In [8]:
resultado = pd.read_excel("ResultadoGeral.xlsx")

In [9]:
def V09(V002, V003, V004, V005, V006, V007, V008, V009, V010, V011, V001):
    return (((V002+V003+V004+V005+V006+V007+V008+V009+V010+V011)/V001)*100)

In [10]:
def V10(V057, V058, V059, V060, V061, V062, V063, V064, V065, V066, V067, V068, V069, V070, V071, V072, V073, V074, V075, V076, V077, V078, V079, V080, V081, V082, V083, V084, V085, V086, V087, V088, V089, V090, V091, V092, V001):
    return (((V057+V058+V059+V060+V061+V062+V063+V064+V065+V066+V067+V068+V069+V070+V071+V072+V073+V074+V075+V076+V077+V078+V079+V080+V081+V082+V083+V084+V085+V086+V087+V088+V089+V090+V091+V092)/V001)*100)

In [11]:
def V15(V001, V093):
    return (((V001/V093)/V001)*100)

In [12]:
resultado['V09'] = responsavel02.apply(lambda x: V09(x.V002,x.V003, x.V004, x.V005, x.V006, x.V007, x.V008,x.V009, x.V010, x.V011, x.V001), axis=1)

In [13]:
resultado['V10'] = responsavel02.apply(lambda x: V10(x.V057, x.V058, x.V059, x.V060, x.V061, x.V062, x.V063, x.V064, x.V065, x.V066, x.V067, x.V068, x.V069, x.V070, x.V071, x.V072, x.V073, x.V074, x.V075, x.V076, x.V077, x.V078, x.V079, x.V080, x.V081, x.V082, x.V083, x.V084, x.V085, x.V086, x.V087, x.V088, x.V089, x.V090, x.V091, x.V092, x.V001), axis=1)

In [141]:
resultado['V15'] = responsavel02.apply(lambda x: V15(x.V001, x.V093), axis=1)

In [142]:
resultado.to_excel("ResultadoGeral.xlsx")

In [14]:
resultado

         V09        V10
0   1.010101  15.656566
1   3.715170  20.433437
2   0.000000  11.046512
3   0.826446  22.589532
4   1.340483   6.970509
5   0.320513  18.269231
6   3.414634   3.414634
7   3.921569   8.823529
8   1.282051  16.346154
9   0.495050  20.297030
10  0.223214  25.223214
11  0.498753  18.204489
12  0.000000  26.701571
13  0.000000  17.837838
14  1.643192  15.023474
15  0.000000  22.613065
16  0.285714  25.142857
17  0.389105  29.571984
18  1.851852  14.074074
19  0.000000  28.671329

In [15]:
responsavel02.head()

,Cod_setor,Situacao_setor,V001,V002,V003,V004,V005,V006,V007,V008,...,V207,V208,V209,V210,V211,V212,V213,V214,V215,V216
0,261160605220010,1,198,0,0,0,0,0,1,0,...,6,21,19,13,8,7,3,1,1,4
1,261160605220011,1,323,0,0,1,1,0,1,2,...,10,11,13,16,12,11,7,5,2,3
2,261160605220012,1,172,0,0,0,0,0,0,0,...,14,18,21,12,11,4,3,1,0,0
3,261160605220013,1,363,0,0,0,0,0,0,2,...,20,24,23,21,17,10,14,11,0,2
4,261160605220014,1,373,0,1,0,0,0,0,1,...,29,40,40,28,8,6,5,3,0,1